<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     <div>
     <%= f.email_field :email, :placeholder=>"ユーザネーム" %>
     </div>
     <div>
     <%= f.password_field :password, :placeholder=>"パスワード" %>&nbsp;&nbsp;<%= f.password_field :password_confirmation, :placeholder=>"パスワード（再入力）" %>
     </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>


<%= form_for(:user, :url => session_path(:user)) do |f| %>
<div>
   <%= f.email_field :email, :placeholder=>"ユーザネーム" %>
</div>
<div>
<%= f.password_field :password, :placeholder => "パスワード", :class => 'form_layout' %>
</div>
<div id="auto_login_wrap">
<%= f.check_box :remember_me %> <%= f.label :"次回から自動的にログインする" %>
</div>
<div id="login_button_wrap">
<%= f.submit('ログイン', {:class => 'login_submit'}) %>
</div>               
<% end %>